/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.
=================================================================== */

/*====== FIRST VIEW======*/
.preload1 {
	background: url(../images/three_1_g.gif);
}
.preload2 {
	background: url(../images/three_1a_g.gif);
}
#nav {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 38px;
	background: #fff url(../images/three_0_g.gif) repeat-x;
	position: relative;
	z-index: 500;
	font-family: arial, verdana, sans-serif;
}
#nav li.top {
	display: block;
	float: left;
	height: 38px;
}
#nav li a.top_link {
	display: block;
	float: left;
	height: 35px;
	line-height: 33px;
	color: #363636;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 0 12px;
	cursor: pointer;
	background: url(../images/three_0_g.gif);
}
#nav li a.top_link span {
	float: left;
	display: block;
	padding: 0 24px 0 12px;
	height: 35px;
	background: url(../images/three_0_g.gif) right top no-repeat;
}
#nav li a.top_link span.down {
	float: left;
	display: block;
	padding: 0 24px 0 12px;
	height: 35px;
	background: url(../images/three_0a_g.gif) no-repeat right top;
}
#nav li:hover a.top_link {
	color: #fff;
	background: url(../images/three_1_g.gif) no-repeat;
}
#nav li:hover a.top_link span {
	background: url(../images/three_1_g.gif) no-repeat right top;
}
#nav li:hover a.top_link span.down {
	background: url(../images/three_1a_g.gif) no-repeat right top;
}
/*========First Level======== */

#nav li:hover {
	position: relative;
	z-index: 200;
}
#nav li:hover ul.sub {
	left: 1px;
	top: 38px;
	background: #DBDBDB;
	padding: 3px;
	border: 1px solid #5c731e;
	white-space: nowrap;
	width: 90px;
	height: auto;
	z-index: 300;
}
#nav li:hover ul.sub li {
	display: block;
	height: 20px;
	position: relative;
	float: left;
	width: 90px;
	font-weight: normal;
}
#nav li:hover ul.sub li a {
	display: block;
	font-size: 12px;
	height: 18px;
	width: 88px;
	line-height: 18px;
	text-indent: 5px;
	color: #000;
	text-decoration: none;
	border: 1px solid #DBDBDB;
}
#nav li ul.sub li a.fly {
	background: #DBDBDB url(../images/arrow.gif) 80px 6px no-repeat;
}
#nav li:hover ul.sub li a:hover {
	background: #7d7d7d;
	color: #fff;
	border-color: #fff;
}
#nav li:hover ul.sub li a.fly:hover {
	background: #7d7d7d url(../images/arrow_over.gif) 80px 6px no-repeat;
	color: #fff;
}

/*====== Second and so on level========*/
#nav li:hover li:hover ul, #nav li:hover li:hover li:hover ul, #nav li:hover li:hover li:hover li:hover ul, #nav li:hover li:hover li:hover li:hover li:hover ul {
	left: 90px;
	top: -4px;
	background: #DBDBDB;
	padding: 3px;
	border: 1px solid #5c731e;
	white-space: nowrap;
	width: 90px;
	z-index: 400;
	height: auto;
}
#nav ul, #nav li:hover ul ul, #nav li:hover li:hover ul ul, #nav li:hover li:hover li:hover ul ul, #nav li:hover li:hover li:hover li:hover ul ul {
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav li:hover li:hover a.fly, #nav li:hover li:hover li:hover a.fly, #nav li:hover li:hover li:hover li:hover a.fly, #nav li:hover li:hover li:hover li:hover li:hover a.fly {
	background: #7d7d7d url(../images/arrow_over.gif) 80px 6px no-repeat;
	color: #fff;
	border-color: #fff;
}
#nav li:hover li:hover li a.fly, #nav li:hover li:hover li:hover li a.fly, #nav li:hover li:hover li:hover li:hover li a.fly {
	background: #DBDBDB url(../images/arrow.gif) 80px 6px no-repeat;
	color: #000;
	border-color: #DBDBDB;
}
